@charset "utf-8";
/* CSS Document */

:root {
	/* Palette A */
	
	--nav_footer_tabe_head_bg_color: #239D8A;
	--nav_footer_table_head_standard_text_color: #fff;
	--block_accent_color: #27343F;
	--block_accent_color_light: #4A6377;
	--nav_link_hover: #A7E1B6;
	--nav_link_hover_text_color: #000;
	--block_accent_txt_color: #fff;
	--nav_active_tag: #155B50;
	
	/* Palette B
	
	--nav_footer_tabe_head_bg_color: #52AACF;
	--nav_footer_table_head_standard_text_color: #FFF;
	--block_accent_color: #ccc;
	--block_accent_color_light: #E5E5E5;
	--nav_link_hover: #888;
	--block_accent_txt_color: #52AACF;
	*/
	
	/* Palette C
	
	--nav_footer_tabe_head_bg_color: #AC4036;
	--nav_footer_table_head_standard_text_color: #FFF;
	--block_accent_color: #C9C5B6;
	--block_accent_color_light: #77766E;
	--nav_link_hover: #8E8A72;
	--block_accent_txt_color: #293131;
	*/
}

body {
    width: 100%;
    margin: auto;
	background-color: #FFF;
}

/*---- Page Content ----*/

.main_content {
    margin: auto;
    color: #111111;
    font-family: 'Open Sans', sans-serif;
	font-size: medium;
    text-align: justify;
    padding-bottom: 0;
	min-height: 400px;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    color: #111111;
	font-weight: bold;
}

.main_content p {
	text-align: left;
}

.main_content img {
	opacity: 0.9;
}
.main_content img:hover {
	opacity: 1.0;
}

/*---- Tables ----*/

.table_container {
	overflow-x: auto;
}

table {
	width: 95%;
	margin-left: 2.5%;
	border-spacing: 0;
	border-collapse: collapse;
	border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 8px;
}

th {
	color: var(--nav_footer_table_head_standard_text_color);
	background-color: var(--nav_footer_tabe_head_bg_color);
}

tr:nth-child(even){background-color: #f2f2f2}

/*---- Track Location ----*/

.track_loaction {
	display: block;
	margin: 10px auto;
	width: 95%;
	height: 200px;
}

.track_loaction div {
	display: inline-block;
	height: 200px;
	margin: 0;
	padding: 0;
}

.track_loaction #location_0 {
	width: 40%;
	text-align: left;
}

.track_loaction #location_1 {
	width: 60%;
}
.track_loaction #location_1 iframe {
	width: 100%;
	height: inherit;
	display: block;
}

/*---- Parallax ----*/

[class^="parallax"] {
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.parallax_results {
	background-image: url("images/gallery/bmx_race_1.jpg");
}

.parallax_gallery {
	background-image: url("images/gallery/bmx_race_corner_0.jpg");
}

.parallax_our_track {
	background-image: url("images/gallery/rider_under_sign.jpg")
}

/*---- NavBar ----*/

nav {
	width: 100%;
	display: block;
	background-color:  var(--nav_footer_tabe_head_bg_color);
	color: var(--nav_footer_table_head_standard_text_color);
	overflow: hidden;
}

nav a {
	color: var(--nav_footer_table_head_standard_text_color);
	text-decoration: none;
}

nav a:hover {
	color: var(--nav_link_hover_text_color);
	background-color: var(--nav_link_hover);
	text-decoration: none;
}

/*--- Desktop ---*/

nav .nav_desktop {
	height: 100px;
}

nav .nav_desktop img {
	height: 70px;
	margin: 20px 0 0 auto;
}

nav .nav_desktop a {
	float: right;
	padding: 39.545px 12px;
    font-size: 18px;
	color: var(--block_accent_txt_color);
	font-weight: bold;
}

nav .nav_desktop a.active {
	background-color: var(--nav_active_tag);
}

nav .nav_desktop a:hover {
	color: var(--nav_link_hover_text_color);
	background-color: var(--nav_link_hover);
}

/*--- Mobile ---*/

nav .nav_mobile {
	height: 48px;
}

nav .nav_mobile #mobile_links {
    display: none;
}

nav .nav_mobile a {
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
	background-color: var(--nav_footer_tabe_head_bg_color);
	margin: 0;
	font-weight: bold;
}

nav .nav_mobile #mobile_links a:hover {
	color: var(--nav_link_hover_text_color);
	background-color: var(--nav_link_hover);
}

nav .nav_mobile #mobile_links {
	position: absolute;
	top: 48px;
	width: 100%;
	margin: 0;
	overflow: hidden;
	-webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
	height: 0px;
}
nav .nav_mobile a.icon:hover + #nav_mobile_link_spacer {
	background-color: var(--nav_link_hover);
}

nav .nav_mobile a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
	color: var(--block_accent_txt_color);
	background-color: var(--block_accent_color);
}
nav .nav_mobile a.icon:hover {
	color: var(--nav_link_hover_text_color);
	background-color: var(--nav_link_hover);
}

nav .nav_mobile img {
    height: 33px;
    width: auto;
    padding: 8px;
    margin-left: 5px;
}

#nav_mobile_link_spacer {
	display: block;
	width: 100%;
	height: 5px;
}

#nav_spacer {
	display: block;
	width: 100%;
	height: 0px;
	-webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
}

/*---- Footer ----*/

footer {
	background-color: var(--nav_footer_tabe_head_bg_color);
	color: var(--nav_footer_table_head_standard_text_color);
	width: 100%;
	display: block;
	min-height: 100px;
}

footer a {
	color: var(--nav_footer_table_head_standard_text_color);
	font-weight: 550;
	text-decoration: none;
}
footer a:hover {
	color: var(--block_accent_color)
}

footer .footer_content {
	display: block;
	margin: 0 auto;
	padding: 10px 0 30px;
	height: auto;
	text-align: center;
}

.footer_content_container {
	position: sticky;
	width: 100%;
	display: block;
	margin: 0;
	bottom: 0;
	padding: 10px 0;
	background-color: var(--nav_footer_tabe_head_bg_color);
	color: var(--nav_footer_table_head_standard_text_color);
	box-shadow: 0 -2px 2px 0 #bbb;
}

.footer_about {
	height: 50px;
	margin: auto;
	padding: 10px 10px 10px;
	border: 3px solid var(--block_accent_color);
}

.footer_about p {
	margin: 0;
	padding: 0;
}

.footer_about #facebook_logo {
	float: right;
	height: 35px;
	padding: 7.5px 5px;
}

#facebook_logo {
	-webkit-filter: invert(100%);
	-o-filter: invert(100%);
	filter: invert(100%);
	-webkit-transition: all 650ms ease-in-out;
    -moz-transition: all 650ms ease-in-out;
    -ms-transition: all 650ms ease-in-out;
    -o-transition: all 650ms ease-in-out;
    transition: all 650ms ease-in-out;
}

.footer_about #facebook_logo:hover {
	-webkit-filter: invert(0%);
	-o-filter: invert(0%);
	filter: invert(0%);
	
}

footer .footer_content .footer_nav_links {
	width: 100%;
	display: block;
	margin: 0;
	text-align: center;
}

/*---- Scaling ----*/
/*--- Width ---*/
/*-- Mobile --*/
.main_content, .footer_content, .footer_about {
    width: 90%;
}
.nav_mobile {
	display: block;
}
.nav_desktop {
	display: none;
}

h1 {
    font-size: 25px;
}

/*-- Tablets --*/
@media only screen and (min-width: 600px) {
    .main_content, .footer_content, .footer_about {
        width: 75%;
    }
}

/*-- Laptop & Desktop --*/
@media only screen and (min-width: 768px) {
    .main_content, .footer_content, .footer_about {
        width: 60%;
    }
	h1 {
		font-size: 35px;
	}
}

@media only screen and (min-width: 960px) {
    .nav_mobile {
        display: none;
    }
    .nav_desktop {
        display: block;
		width: 60%;
		margin-left: 20%;
    }

	/* 4k */
	@media only screen and (max-height: 2160px) {
		[class^="parallax"] {
			height: 1860px;
		}
	}

	/* 1440p */
	@media only screen and (max-height: 1440px) {
		[class^="parallax"] {
			height: 1140px;
		}
	}

	/* 1080p */
	@media only screen and (max-height: 1080px) {
		[class^="parallax"] {
			height: 780px;
		}
	}
}

@media only screen and (max-height: 1600px) {
	[class^="parallax"] {
		height: 1300px;
	}
}
@media only screen and (max-height: 1500px) {
	[class^="parallax"] {
		height: 1200px;
	}
}
@media only screen and (max-height: 1400px) {
	[class^="parallax"] {
		height: 1100px;
	}
}
@media only screen and (max-height: 1300px) {
	[class^="parallax"] {
		height: 1000px;
	}
}
@media only screen and (max-height: 1200px) {
	[class^="parallax"] {
		height: 900px;
	}
}
@media only screen and (max-height: 1100px) {
	[class^="parallax"] {
		height: 800px;
	}
}

@media only screen and (max-height: 1000px) {
	[class^="parallax"] {
		height: 700px;
	}
}
@media only screen and (max-height: 900px) {
	[class^="parallax"] {
		height: 600px;
	}
}
@media only screen and (max-height: 800px) {
	[class^="parallax"] {
		height: 500px;
	}
}
@media only screen and (max-height: 700px) {
	[class^="parallax"] {
		height: 400px;
	}
}
@media only screen and (max-height: 600px) {
	[class^="parallax"] {
		height: 300px;
	}
}

@media only screen and (max-height: 500px) {
	[class^="parallax"] {
		height: 200px;
	}
}